@model List<SistemaDeGestion.Models.FlyerModel>

@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="container">
    <div class="row">
        <div class="col-sm-4" style="width:40%">
            <img src="~/Content/img/logo.png" style="width:90%" />
        </div>
        <div class="col-sm-6" style="width:50%">
            <p style="text-align:center; padding-top:3em">
                <Font size="24">La Casa Del Turismo</Font><br />
                <Font size="6">VIAJES Y TURISMO</Font><br />
                <Font size="4">Calle 48 # 49 – 73 Tel. 219 09 36</Font><br />
                <Font size="4">Cel. 311 752 0216 – 312 490 2409</Font><br />
                <Font size="4">RNT 35238</Font><br />
                <Font size="4">SEDE LA CASA DEL AFICHE.</Font><br />
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var oElement in Model)
        {
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">@oElement.Name</div>
                    <div class="panel-body">
                        <img src="@Url.Content(oElement.Imagen)" alt="Image" style="width:100px; height:150px; max-height:100%; width:auto;" />
                        <p>@oElement.Description</p>

                        <button onclick="document.location.href='@Url.Content("~/Home/FlyerDetails/" + oElement.Id)'" type="button" class="btn btn-default">
                            Description
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>